.container_project {
    display: flex;
    justify-content: center;

    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;

}

.project {
    display: flex;
    flex-direction: column;
    padding: 150px 100px 0 100px;
    max-width: 1600px;

}

.container_info_project {
    background-color: #F3F3F3;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

    max-width: 1600px;

    display: flex;
    flex-direction: column;

    padding: 0px 30px 0 30px;

    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;

}

.container_info_project>h1 {
    margin: 20px 0 20px;

    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}




/* .items>img {
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
} */

.container_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.items {
    cursor: pointer;
    margin: 10px;
    width: 40%;
    height: 16vw;

    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 44px 55px;
}

.badge__items {
    display: flex;
    gap: 10px;

    z-index: 2;
    opacity: 0;

    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.badge__items>h3 {
    font-size: .8rem;
    padding: 8px 13px;
    color: #FFFFFF;
    background-color: #5A48D0;


    margin-bottom: 7px;


    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.badge__items h3:nth-child(1) {
    background: #F72585;
}

.badge__items h3:nth-child(2) {
    background-color: #03C03C;
}

.badge__items h3:nth-child(3) {
    background-color: #FE5A1D;
}

.badge__items h3:nth-child(4) {
    background-color: #00B9E8;
}


.items>h2 {
    color: #FFFFFF;
    z-index: 2;

    opacity: 0;

    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;

}

.arrow__icon {
    height: 25px;
    padding-top: 14px;
    margin-left: 8px;
}

.items1 {
    background: url('/assets/project-001.png') center center no-repeat;
    background-size: 700px;


    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.items1:hover {

    background: url('/assets/project-001.png') left center no-repeat;
    background-size: 800px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.items2 {
    background: url('/assets/project-002.png') center center no-repeat;
    background-size: 700px;



    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.items2:hover {

    background: url('/assets/project-002.png') left center no-repeat;
    background-size: 800px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.items3 {
    background: url('/assets/project-003.png') center center no-repeat;
    background-size: 700px;



    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.items3:hover {

    background: url('/assets/project-003.png') left center no-repeat;
    background-size: 800px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}


.items4 {
    background: url('/assets/project-004.png') center center no-repeat;
    background-size: 700px;



    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.items4:hover {

    background: url('/assets/project-004.png') left center no-repeat;
    background-size: 800px;


    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}


.items::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    background: linear-gradient(90deg, #000000 100%, rgba(0, 0, 0, 0.4) 69.27%, rgba(217, 217, 217, 0) 100%);


}

.items:hover::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.4) 69.27%, rgba(217, 217, 217, 0) 100%);
    opacity: 1;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.items1:hover .badge__items,
.items1:hover>h2,
.items2:hover .badge__items,
.items2:hover>h2,
.items3:hover .badge__items,
.items3:hover>h2,
.items4:hover .badge__items,
.items4:hover>h2 {
    opacity: 1;

    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;


}


.btn_projects {
    border: 0;
    background: #5A48D0;
    width: 220px;
    height: 50px;
    padding: 9px 16px 10px 12px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-family: 'SF UI Display';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;

    align-self: center;

    margin: 20px 0 20px;

}


.container_itemsMobile {
    display: none;
}






/* Móvil */
@media screen and (max-width: 1024px) {


    .project {

        padding: 0;

    }

    .container_info_project {
        background-color: #F3F3F3;

        width: 90vw;
        max-width: 560px;

        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;

    }

    .container_info_project>h1 {
        font-size: min(7vw, 36px);

        margin-left: 20px;
    }

    .container_info_project {
        padding: 0px 0px 20px;
    }

    .container_items {

        flex-direction: column;
        flex-wrap: nowrap;

        display: none;
    }

    .container_itemsMobile {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;

        gap: 20px;


    }

    .badge__items {
        opacity: 1;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .badge__items>h3 {
        max-height: 35px;
        font-size: 10px;
    }

    .mobile_card {

        position: relative;

        width: 85%;
        height: 400px;
        /*  height: 15vw min(7vw, 80px); */

        background-color: #FFFFFF;
        color: #000000;

        /* background: linear-gradient(180deg, #000000 63.13%, rgba(0, 0, 0, 0.4) 75.38%, rgba(217, 217, 217, 0) 100%); */
        border-radius: 22px;

        filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));

    }

    .card_header {
        height: 50%;
        border-radius: 22px 22px 0 0;
        -webkit-border-radius: 22px 22px 0 0;
        -moz-border-radius: 22px 22px 0 0;
        -ms-border-radius: 22px 22px 0 0;
        -o-border-radius: 22px 22px 0 0;
    }

    .mobileItem1 {
        background: url('/assets/project-001.png') center no-repeat;
    }

    .mobileItem2 {
        background: url('/assets/project-002.png') center no-repeat;
    }

    .mobileItem3 {
        background: url('/assets/project-003.png') center no-repeat;
    }

    .mobileItem4 {
        background: url('/assets/project-004.png') center no-repeat;
    }



    .card_body {
        padding: 1rem;
        font-size: 3vw;
        height: auto;
    }

    .card_body>h2 {
        font-size: min(7vw, 18px);

        transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
    }

    .mobile_card .card_btn {
        width: 90%;
        height: 65.2px;
        background: #6C5CD5;
        color: #FFFFFF;
        border-radius: 14px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 5vw;

        position: absolute;
        bottom: 16px;
        left: 5%;

        font-size: min(7vw, 18px);


    }

    .items>img {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .btn_projects {
        width: 92%;
        height: auto;
        padding: 18px 0;
        margin: 32px 0 0;
    }

}



/* Dark mode */

.dark.container_project {
    background-color: #01040D;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.dark.container_info_project {
    background: #1B1B28;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}


.container_info_project>h1.dark {
    color: #FFFFFF;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}


.dark.mobile_card {
    background: #31313D;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.mobile_card h2.dark {
    color: #FFFFFF;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}