.container_home {
    display: flex;
    justify-content: center;

    width: 100%;

}

.home {
    height: 690px;
    position: relative;
    top: 80px;
    display: flex;

    padding: 10px 80px;

    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    color: #22292F;

    max-width: 1600px;
}

.back_pic {
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    width: 550px;
}

.pic {
    position: absolute;
    /*height: 771.49px;
    */
    width: 600px;
    z-index: 2;
    filter: drop-shadow(50px 30px 5px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(50px 30px 5px rgba(0, 0, 0, 0.25));
}

.container_title {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;


}


.home__textSaludo {
    font-size: 60px;
}

.container_title>h1 {
    font-size: 35px;
    width: 100%;
}


.btn_saluda {
    width: 140px;
    height: 50px;
    padding: 9px 16px 10px 12px;
    background: #5A48D0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-top: 16px;
}

.container_pic {
    display: flex;
    justify-content: flex-end;

    width: 50%;

}

.container_pic>div {
    width: 580px;
    height: 100%;
}

.glass_html {
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 3;
    width: 160px;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


.glass_html:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.glass_js {
    position: absolute;
    top: 300px;
    right: 460px;
    z-index: 3;
    width: 80px;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.glass_js:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.glass_css {
    position: absolute;
    top: 450px;
    right: 460px;
    z-index: 3;
    width: 150px;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.glass_css:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.glass_react {
    position: absolute;
    top: 530px;
    right: 110px;
    z-index: 2;
    width: 100px;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.glass_react:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.home__variableText {
    font-size: 25px;
    /* background-color: #5A48D0;
    color: #FFFFFF; */
}







/* Móvil */
@media screen and (max-width: 1024px) {
    .home {
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .container_title {
        width: 100%;
        order: 2;
        background-color: #fff;
        z-index: 3;
    }

    .container_title>h1 {
        font-size: 35px;
        width: 320px;

    }

    .container_pic {
        width: 300px;
        height: 355px;
        order: 1;
    }

    .pic {

        width: 100%;

    }

    .back_pic {
        width: 100%;
    }

    .glass_html {
        top: 123px;
        right: 43px;
        width: 68.83px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .glass_js {
        top: 165px;
        right: 209px;
        width: 35.82px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .glass_css {
        top: 245px;
        right: 208px;
        width: 68.83px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .glass_react {
        top: 274px;
        right: 34px;
        width: 46.35px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .btn_saluda {
        width: 100%;
        height: auto;
        padding: 18px 0;
    }

}