.container_home {
    display: flex;
    justify-content: center;

    width: 100%;

}

.home {
    height: 690px;
    border: solid 1px #000;
    position: relative;
    top: 80px;
    display: flex;

    padding: 10px 5%;

    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    color: #22292F;

    max-width: 1600px;
}

.back_pic {
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    width: 550px;
}

.pic {
    position: absolute;
    /*height: 771.49px;
    */
    width: 600px;
    z-index: 2;
    filter: drop-shadow(50px 30px 5px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(50px 30px 5px rgba(0, 0, 0, 0.25));
}

.container_title {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.container_title,
span {
    font-size: 45px;
}

.container_title>h1 {
    font-size: 35px;
}


.btn_saluda {
    width: 140px;
    height: 50px;
    padding: 9px 16px 10px 12px;
    background: #5A48D0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-top: 16px;
}

.container_pic {
    display: flex;
    justify-content: flex-end;

    border: solid 1px #000;
    width: 50%;

}

.container_pic>div {
    width: 580px;
    height: 100%;
    border: solid 1px #000;
}

.glass_html {
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 3;
    width: 160px;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.glass_js {
    position: absolute;
    top: 300px;
    right: 460px;
    z-index: 3;
    width: 80px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.glass_css {
    position: absolute;
    top: 450px;
    right: 460px;
    z-index: 3;
    width: 150px;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.glass_react {
    position: absolute;
    top: 530px;
    right: 110px;
    z-index: 2;
    width: 100px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}