.container_contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}

.contact {
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
    width: 100%;
    max-width: 1600px;
}

.container_info_contact {
    background-color: #F3F3F3;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 70%;
}

.container_info_contact>form>h1 {
    margin: 20px 0 20px;

}

.input_contact,
.input_area {
    background: #FFFFFF;
    border: 2px solid #C1C1C1;
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
}

.input_area {
    height: 210px;
    resize: none;
}

.container_networks {
    background-image: url("../../../public/assets/contact-image.png");
    height: 600px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon_linkedin,
.icon_github {
    height: 70px;
    margin: 20px;
    cursor: pointer;
}

.btn_send_contact {
    border: 0;
    background: #5A48D0;
    width: 170px;
    height: 50px;
    padding: 9px 16px 10px 12px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;

    align-self: flex-start;

    margin: 20px 0 20px;

}

.form_gruop {
    margin-top: 15px;
}

.form_gruop>label {
    font-size: 18px;
    margin-left: 5px;
}


.contanier_mobile_btns {
    display: none;
}

.footer {

    margin-top: 100px;
    height: 30px;
    width: 100%;
    background: #2D2468;
}


/* Móvil */
@media screen and (max-width: 1024px) {
    .contact {
        padding: 0 20px;
        align-items: center;
    }

    .container_info_contact {
        max-width: 560px;
        border-radius: 12px;

        padding: 20px;

        flex-direction: column;

        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .container_networks {
        display: none;
    }

    .contact_form {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        width: 100%;


    }

    .container_info_contact>form>h1 {
        margin: 20px 0 20px;
        font-size: min(7vw, 36px);
    }

    .btn_send_contact {
        width: 100%;
        height: auto;
        padding: 18px 0;
        margin-bottom: 36px;
    }

    .contanier_mobile_btns {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contanier_mobile_btns>button {
        width: 100%;
        height: auto;
        padding: 18px 0;
        border: 0;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .contanier_mobile_btns img {
        height: 25px;
        width: 25px;

        margin-right: 12px;
    }

    .btn_linkedin {
        background: #0961B8;
    }

    .btn_github {
        background: #24292D;
    }
}