button {}

.navbar {
    position: sticky;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;

    z-index: 10;


    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.container_botones_left {
    width: 580px;
    display: flex;
    justify-content: space-between;

    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

.container_botones_right {
    display: flex;
    align-items: center;
}

.container_language_theme {
    display: flex;
    align-items: center;
}

.container_botones_right button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    margin-right: 26px;
    height: 1.5rem;

}

.container_botones_right .link_sections {
    margin-right: 26px;
}

.container_botones_right img {
    height: 1.5rem;

}

.btn_downloadCV {
    width: 170px;
    height: 40px;
    padding: 9px 16px 10px 12px;
    background: #5A48D0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-family: 'SF UI Display';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 14px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_downloadCV>img {
    margin-right: 10px;
    height: 14px;
}

.link_sections {
    background: none;
    border: 0;
    font-family: 'SF UI Display';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 1rem;
    line-height: 38px;

    color: #5A48D0;

    text-decoration: none;
    cursor: pointer;
}

.nav_mobile {
    display: none;
}


/* Móvil */
@media screen and (max-width: 1024px) {

    .container_botones_left {
        display: none;
    }

    .btn_downloadCV {
        width: 148px;
        height: 33.9px;
        padding: 9px 0px 9px 12px;

        font-size: 12px;
        line-height: 14px;
    }

    .btn_downloadCV>img {
        margin-right: 5px;
        height: 14px;
    }

    .container_botones_right {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .nav_mobile {
        width: 100vw;
        height: 73px;
    
        background-color: #fff;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        position: fixed;
        bottom: 0;
        left: 0;
        filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.1));
    
        padding: 0 8vw;
    }
    
    .nav_mobile div {
        width: 46px;
        height: 46px;
        padding: 12px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_mobileClicked {
        background: #5A48D0 !important;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        -webkit-filter: none !important;
}

.nav_mobileClicked img {
    filter: invert(100%) brightness(200%) !important;
    color: #ffffff !important;
    font-weight: normal !important;
    -webkit-filter: invert(100%) brightness(200%) !important;
}
}






/* Dark mode */

.dark.navbar {
    background-color: #01040D;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.dark.container_botones_left .link_sections,
.dark.container_botones_right .link_sections {
    color: #FFFFFF;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

.dark.btn_downloadCV {
    background-color: #6C5CD5;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}


.dark.nav_mobile {
    background: #1B1B28;
}

.dark.nav_mobile img {
    filter: invert(100%);
}