.navbar {
    position: sticky;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;

    z-index: 10;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.container_botones_left {
    width: 580px;
    display: flex;
    justify-content: space-between;
}

.container_botones_right {
    display: flex;
    align-items: center;
}

.container_botones_right>img {
    margin-right: 26px;
    height: 1.5rem;

}

.btn_downloadCV {
    width: 170px;
    height: 40px;
    padding: 9px 16px 10px 12px;
    background: #5A48D0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_downloadCV>img {
    margin-right: 10px;
    height: 14px;
}

.link_sections {
    background: none;
    border: 0;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 38px;

    color: #5A48D0;

    text-decoration: none;
    cursor: pointer;
}


/* Móvil */
@media screen and (max-width: 1024px) {

    .container_botones_left {
        display: none;
    }

    .btn_downloadCV {
        width: 148px;
        height: 33.9px;
        padding: 9px 0px 9px 12px;

        font-size: 12px;
        line-height: 14px;
    }

    .btn_downloadCV>img {
        margin-right: 5px;
        height: 14px;
    }

    .container_botones_right {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
}