@font-face {
  font-family: 'SF UI Display';
  src: url(/fonts/SF-UI-Display-Bold.otf);
}

@font-face {
  font-family: 'SF UI Text';
  src: url(/fonts/SF-UI-Text-Regular.otf);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  /* overflow-x: hidden; */
}


/* Dark mode */

/* .dark.App {
  background-color: #01040D;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;

  color: #FFFFFF;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
} */