.container_aboutMe {
    display: flex;
    justify-content: center;
    width: 100%;

    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.aboutMe {
    margin-top: 80px;
    height: 900px;
    padding: 0 100px 0 100px;
    max-width: 1600px;
}

.container_info {
    position: relative;
    top: 0px;
    background-color: #5A48D0;
    height: 700px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    z-index: 3;

    display: flex;
}

.pic_section {
    width: 45%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle_title {
    background-color: #fff;
    height: 450px;
    width: 350px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 29.124px;
    color: #22292F;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.rectangle_title>h1 {
    position: relative;
    left: 50px;
    top: 40px;
    font-size: 52.36px;
}

.rectangle_title>img {
    position: relative;
    top: 50px;
    left: -50px;
    height: 400px;
    filter: drop-shadow(-15px 0px 5px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(-15px 0px 5px rgba(0, 0, 0, 0.25));
}

.info_section {
    width: 55%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info_section>p {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.btn_downloadCV {
    border: 0;
    background: #2D2468;

    position: absolute;
    top: 630px;
    right: 20px;

    width: 240px;
    height: 50px;
    padding: 9px 16px 10px 12px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.btn_downloadCV>img {
    margin-right: 10px;
    height: 14px;
}


/* Móvil */
@media screen and (max-width: 1024px) {

    .aboutMe {
        height: auto;
        padding: 0 20px;
        /* overflow-x: hidden; */
    }

    .container_info {
        flex-direction: column;
        width: 100%;
        max-width: 560px;
        height: auto;
        padding: 54px 20px 20px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .pic_section,
    .info_section {
        width: 100%;
        padding: 0;
    }

    .info_section {
        margin: 22vw 0 10vw;
    }

    .rectangle_title {
        width: 197.07px;
        height: 233.96px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;

        transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;


    }

    .rectangle_title>img {

        /* height: max(50vw, 50px); */
        height: min(60vw, 300px);

    }

    .rectangle_title>h1 {
        top: 17px;
        left: 18px;
        font-size: 1.5rem;

        transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
    }

    .info_section>p {

        font-size: 1rem;
        line-height: 21px;


        color: #FFFFFF;
    }

    .btn_downloadCV {
        position: static;
        width: 100%;
        height: auto;
        padding: 18px 0;

        transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
    }

    .rectangle_title>img {
        top: 13px;
        left: min(-10vw, -40px);
    }


}


/* Dark mode */

.dark.container_aboutMe {
    background-color: #01040D;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.dark.container_info {
    background: #1B1B28;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.dark.rectangle_title {
    background: #31313D;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;


}

.dark.title {
    color: #FFFFFF;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

.dark.btn_downloadCV {
    background: #6C5CD5;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}